@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700";
@import "https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css";

body {
	font-family: 'trade gothic', sans-serif;
	line-height: 1.5;
	padding: 0;
	margin: 0;
}

header {
	height: 128px;
}

li a {
	font-family: 'trade gothic';
	font-size: 12pt;
	color: black;
	cursor: pointer;
}

li a:hover {
	background-color: #D9D9D9;
	text-indent: initial;
}

a:after {
	border: solid black;
	border-width: 0 3 px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}



.subtitle {
	font-family: 'trade gothic';
	font-weight: bold;
	font-size: 24pt;
	line-height: 20pt;
	color: #000000;
}

img[alt="logo kt sz rgb"] {
	position: relative; 
	left: calc(100% - 200px);
	top: -200px;
}

h2 a.link {
	font-family: 'trade gothic';
	font-weight: bold;
	color: #000000;
	font-size: 24pt;
}

h3 a.link {
	font-family: 'trade gothic';
	font-weight: bold;
	color: #000000;
	font-size: 18pt;
}

h4 a.link{
	font-family: 'trade gothic';
	font-weight: bold;
	color: #000000;
	font-size: 15pt;
}

#toc {
	background-color: #d9d9d9;
}

#toctitle {
	font-family: 'trade gothic';
	font-weight: bold;
	color: #000000;
	font-size: 24pt;
	line-height: 14pt;
	border-bottom: 3pt, solid, black;
}

#sectlevel1 {
	font-family: 'trade gothic';
	font-weight: bold;
	color: #000000;
}

#subtitle-header {
	font-size: x-large;
	padding: .6em;
	margin: 0;	
}	

#content {
	background-color: white;
	grid-area: content;
	max-width: 1000px;
	padding: 1em;
	margin: auto;
}

#content img {
	max-width: 100%;
}

pre {
	background-color: #f7f7f8;
	padding: 1em;
	word-wrap: break-word;
	white-space: pre-wrap;
}

table {
	border-collapse: collapse;
}

td, th {
	border: 1px solid gray;
	padding: .4em;
}

th {
	background-color: #f9f9f9;
	text-align: left;
}

.paragraph.img-logo {
	background-color: plum;
}

h1 a.link {
	font-family: 'trade gothic';
	font-weight: bold;
	font-size: 36pt;
	line-height: 41pt;
	color: #000000;
}